.dark{
    background-color: #15151a;
    color: white;
}
.dark > p a{
    color: white;
}
.dark li a{
    color: white;
}
.dark li{
    background-color: #15151a;
}
.dark li ul{
    background-color: #15151a;
}

@keyframes hover{
    from{background-color: #222}
    to{background-color: white;} 
}
.navHover li:hover {
    border: 1px solid #222;
    background-color: white;
    border-radius: 10px;
    border-width: inherit;
    animation: hover .5s 1;
}
.navHover li a:hover {
    color:black;
}